html, body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #595959
}

body {
    font-size: 11pt;
    margin: auto;
    width: 820px
}

a {
    color: #595959;
    font-weight: bold;
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

.person p {
    display: inline-block;
    font-size: 14pt;
    margin-right: 1em;
    vertical-align: top
}

.person img {
    height: 110px;
    margin-top: 10px;
    box-shadow: 2px 2px 2px 2px rgba(127, 127, 127, 0.16);
    width: 110px
}

h1 {
    background: rgb(185, 189, 200);
    -webkit-print-color-adjust: exact;
    color: #fff;
    font-size: 14pt;
    font-weight: normal;
    margin-top: 1em;
    padding: 1px 5px;
    text-transform: uppercase;
    text-align:left;
}

h1 span.small {
    font-size: 9pt
}

.bloc {
    text-indent: 25px
}

.bloc-competence {
    display: table-cell;
    vertical-align: top;
    width: 405px
}

.divider {
    background: #d9d9d9;
    height: 1px;
    width: 100%
}

h2 {
    font-size: 12pt;
    font-weight: normal;
    margin-bottom: 0
}

ul {
    margin-top: 0;
    margin-left: 0;
    padding: 0 0 0 60px;
    text-indent: -24px
}

li {
    display: block;
    list-style: inside
}

li:before {
    color: #3eb9d0;
    content: "+";
    font-weight: bold;
    margin-right: 15px
}

li, .mission-logo-time, .mission-keywords {
    font-size: 10pt
}

li li {
    font-size: 9pt;
    margin-left: -30px
}

li li:before {
    content: "\02013"
}

.mission {
    border-bottom: 1px solid #d9d9d9;
    page-break-inside: avoid;
    display: table;
    padding: .8em 0;
    width: 100%
}

.mission h2 {
    margin-top: 0;
    font-weight: bold;
}

.mission-logo-time, .mission-desc {
    display: table-cell
}

.mission-logo-time {
    text-align: center;
    text-indent: 0;
    vertical-align: middle;
    width: 25%
}

.mission-logo-time img {
    max-height: 70px;
    max-width: 190px
}

.mission-logo-time p {
    margin: 0
}

.mission-desc {
    text-indent: 0;
    vertical-align: top;
    width: 75%
}

.mission-desc ul {
    padding-left: 30px
}

.mission-keywords {
    font-style: italic;
    margin: 0
}

@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
}

.headerData {
    display:none;
}